@font-face {
    src: url(fonts/CloisterBlack.ttf);
    font-family: Cloister;
}

@font-face {
    src: url(fonts/combustion-brk.combustion-ii-brk.ttf);
    font-family: Combustion;
}

div {
    
    overflow: hidden;
    position: relative;
    width: 100%;
}

img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

img#animated {
    height: 50px;
    width: 50px;
    top: 64%;
    left: 26%;
    z-index: 1;
    position: relative;
    animation: bounce 1s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.05,0.05,.05,.05);
    animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0px, 10px, 0px); }
  to   { transform: translate3d(0px, 20px, 0px); }
}

div.video {
    top: 54%;
    right: 35.5%;
    z-index: 1;
    position: relative;
}

.wisdom {
    margin: auto;
    margin-top: 20%;
    position: relative;
    text-align: center;
    height: 400px;
    width: 400px;
    font-size: 80%;
    background-color: rgba(34, 34, 34, 0.644);
    box-shadow: rgba(50, 50, 93, 0.137) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

button {
    font-size: 20px;
    font-family: Cloister;
    background-color: coral;
    box-shadow: 0 4px #666;
    transition: .3s;
    border-radius: 5px;
    position:relative;
    left: 8%;
}

button:hover {
    transition: .3s;
    transform: translateY(-4px);
    box-shadow: 0 3px #666;
    background-color: crimson;
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: .2s;
}

h1 {
    font-size: 50px;
    font-style: italic;
    font-family: Cloister;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(211, 211, 211);
}

div.box {
    position: relative;
}

p#quote {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: Combustion;
    text-decoration: underline overline dotted rgba(42, 42, 42, 0.144);
    bottom: 15%;
    position: relative;
}

p#kanye {
    font-size: 24px;
    color: rgba(212, 212, 212, 0.835);
    font-style: italic;
    font-family: Combustion;
    text-decoration: underline overline;
    bottom: 15%;
    z-index: 1;
    position: relative;
}

iframe#song {
    position: fixed;
    top: 92%;
    z-index: 1;
}
